unity/VoicePoc/.vscode/settings.json
voice/bigTalkVoice-8f1a88e93d49.json
voice/bigTalkVoice-a7fdfac75e5d.json
Flask/bigTalkVoice-8f1a88e93d49.json
Flask/bigTalkVoice-a7fdfac75e5d.json
.vscode/settings.json
Flask/Basic/myspsolution.praat
Flask/RealTime/Abhin.TextGrid
Flask/RealTime/Abhin.wav
Flask/RealTime/myspsolution.praat
Flask/__pycache__/getResult.cpython-36.pyc
testAudios/Abhin.wav
testAudios/badSpeech.wav
testAudios/churchill.wav
testAudios/eng_f10.wav
testAudios/female.wav
testAudios/harvard1.wav
testAudios/harvard2.wav
testAudios/male.wav
testAudios/monotone.wav
testAudios/okayish.wav
testAudios/Sarv.wav
testAudios/vjsbest.wav
testAudios/vjsworst.wav
unity/VoicePoc/Assets/Scripts/tempCodeRunnerFile.cs
voice/0.TextGrid
.gitignore
voice/0.wav
voice/1.TextGrid
voice/1.wav
voice/2.TextGrid
voice/2.wav
voice/3.TextGrid
voice/3.wav
voice/Abhin.TextGrid
voice/Abhin.wav
voice/requirements.txt
voice/female.txt
voice/female.TextGrid
Flask/slice3.wav
Flask/slice3.TextGrid
Flask/slice2.wav
Flask/slice2.TextGrid
Flask/slice1.wav
Flask/slice1.TextGrid
Flask/slice0.wav
Flask/slice0.TextGrid
slice4.wav
voice/results
voice/Sarv.wav
voice/slice0.TextGrid
voice/slice0.wav
voice/slice1.TextGrid
voice/slice1.wav
voice/test.mpeg
voice/vjsnews.mp3
voice/vjsnews.TextGrid
voice/.vscode/settings.json
*.wav
slice0.wav
slice1.wav
slice2.wav
slice3.wav
slice4.wav
Flask/slice0.TextGrid
Flask/slice1.TextGrid
Flask/slice0.wav
Flask/slice1.wav
Flask/slice2.TextGrid
Flask/slice2.wav
Flask/slice3.TextGrid
Flask/slice3.wav
voice/slice0.TextGrid
voice/slice1.TextGrid
voice/slice1.wav
voice/slice0.wav
Flask/config.py
core
TestData.txt
.vscode/launch.json
.vscode/tasks.json
Flask/basic1583772948.TextGrid
Flask/__pycache__/config.cpython-36.pyc
